html {
	overflow: hidden;
	background-color: #4d4d57;
}

.canvas {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
}

.rightPanel {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 20%;
	max-width: 300px;
	height: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
	background-color: #393941;
	-webkit-box-shadow: -2px 3px 14px 5px rgba(0, 0, 0, 0.84);
	box-shadow: -2px 3px 14px 5px rgba(0, 0, 0, 0.84);
	flex-direction: column;
}

.colorDiv {
	background-color: #33333a;
	border-radius: 12px;
	width: 230px;
	height: 250px;
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: center;
	align-content: center;
	overflow: hidden;
}

.makingColorsRound {
	background-color: #33333a;
	border-radius: 10px;
	width: 210px;
	height: 225px;
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: center;
	align-content: center;
	overflow: hidden;
}

.colorCell {
	background-color: aliceblue;
	width: 40px;
	height: 56px;
	margin: 1px;
	overflow: visible;
	transform: scale(1);
	z-index: 1;
}

.colorCell:hover {
	transform: scale(1.1);
	z-index: 10;
}

.selectedColorCellRing {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 56px;
	background-color: rgba(0, 0, 0, 0);
	border-color: aliceblue;
	border-width: 1px;
	border-style: solid;
	box-sizing: border-box;
	z-index: 10;
}

/* Custom layout */
.react-colorful {
	margin-bottom: 10%;
	padding: 16px;
	border-radius: 12px;
	background: #33333a;
	width: 70%;
}

.react-colorful__saturation {
	margin: 15px 0;
	border-radius: 5px;
	border-bottom: none;
}

.react-colorful__hue {
	order: -1;
}

.react-colorful__hue,
.react-colorful__alpha {
	height: 14px;
	border-radius: 5px;
}

.react-colorful__hue-pointer,
.react-colorful__alpha-pointer {
	width: 10px;
	height: 10px;
}
